.color-1 {
  display: block;
  text-align: center;
  color: #52148d;
}

.color-2 {
  display: block;
  text-align: center;
  color: #a52a2a;
}

img {
  max-width: 100px;
}

.color-3 {
  background-color: aqua;
}

button {
  margin: 10px;
}
