<input type="text" [(ngModel)]="name">
<p>{{name}}</p>

<!--
In the paragraph tag we refer to the name property from AppComponent class in the app.component.ts file
Now we have Dariusz displayed on the screen as name = 'Dariusz'

What we want to atchive is, we want to display the text we enter in the input box.
For that we need to use ngModel directive.
What the ngModel directive does is it's listening to the input box and stores the given value
in the name property and name property value is outputed on the screen by {name}

If we save the file and go to the browser we won't see anything.
It's because we didn't include the package which contains ngModel directive.
To do it me need to go to app.module.ts file
-->
